.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-background-primary{
  background-color: #5259CB
}

.Brand-text{
  font-size: 32px;
  font-weight: bold
}

.App-color{
  color: #5259CB
}

.Text-underline {
  background: url('./assets/svg/underline.svg') bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
